<div class="container-fluid">
  <!--  -->

  <div class="row first-section">
    <div class="col-lg-6 col-md-12 col-sm-12 first-details">
      <h2>
        Empowering companies to engage and recruit more diverse talent by
        streamlining the way their opportunities are marketed to students
      </h2>
      <button class="btn learnMore-btn my-2 my-sm-0 float-right">
        Learn More
      </button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 first-image container">
      <h2>
        Empowering diverse students to find their perfect fit by democratizing
        access to career opportunities
      </h2>
      <button
        class="btn learnMore-btn LMB my-2 my-sm-0 float-right"
        style="background-color: #b4b2fc"
      >
        Learn More
      </button>
    </div>
  </div>

  <div class="row less-w text-center">
    <h3 class="col-12">
      By Empowering both companies and students, PLUGGED <br />
      enables <br />
      University Career centers
      <span style="color: #7b77f2">to do more, with less.</span>
    </h3>
  </div>

  <!--  -->
  <div
    class="gradient-back"
    style="
      background-image: linear-gradient(to bottom, #ffffff 50%, #9edffc 50%);
    "
  >
    <div class="row parent-div student-section">
      <div class="col-lg-6 col-md-12 col-sm-12 details">
        <div class="row">
          <span class="">
            <img
              class=""
              src="./assets/icons/Ellipse.png"
              width="20px"
              height="20px"
              alt="Logo"
            />
          </span>
          <h4 class="col left-right-margin" style="color: #ff6565">Students</h4>
        </div>
        <div class="row">
          <h3 class="col-lg-8 col-md-12 col-sm-12">
            Grow Your Career Without Losing Focus of Your Education
          </h3>
        </div>
        <div class="row">
          <ul class="col-12">
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Discover companies of all sizes looking for candidates like you
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Locate events on and off campus
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Real-time updates on training and workshops
            </li>
          </ul>
        </div>
        <div class="link-btn row">
          <a href="#" class="col-2 hide-it">
            Explore
            <span
              ><img
                src="./assets/img/explore.png"
                alt=""
                width="20"
                height="20"
            /></span>
          </a>
          <a href="#" class="col explore-btn-div"
            ><button class="btn explore-btn btn-lg">Login</button></a
          >
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 image container">
        <img src="./assets/img/phone.png" class="" alt="..." />
      </div>
    </div>
  </div>

  <!--  -->

  <div
    class="gradient-back"
    style="
      background-image: linear-gradient(to bottom, #9edffc 50%, #8fcef5 50%);
    "
  >
    <div class="row parent-div employer-section">
      <div class="col-lg-6 col-md-12 col-sm-12 image container">
        <img src="./assets/icons/Image-employer.png" class="" alt="..." />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 details">
        <div class="row">
          <span class="">
            <img
              class=""
              src="./assets/icons/Ellipse.png"
              width="20px"
              height="20px"
              alt="Logo"
            />
          </span>
          <h4 class="col left-right-margin" style="color: #ff6565">
            Employers
          </h4>
        </div>
        <div class="row">
          <h3 class="col-lg-8 col-md-12 col-sm-12">
            Access the Next Generation of Talent
          </h3>
        </div>
        <div class="row">
          <ul class="col-12">
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Develop your recruiting goals and strategies
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Market oppurtunities and events directly to student
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Review real-time metrics from student engagement
            </li>
          </ul>
        </div>
        <div class="link-btn row">
          <a href="#" class="col-2 hide-it">
            Explore

            <span
              ><img
                src="./assets/img/explore.png"
                alt=""
                width="20"
                height="20"
            /></span>
          </a>
          <a href="#" class="col explore-btn-div"
            ><button class="btn explore-btn">Login</button></a
          >
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div
    class="gradient-back"
    style="
      background-image: linear-gradient(to bottom, #8fcef5 50%, #ffffff 50%);
    "
  >
    <div class="row parent-div career-section">
      <div class="col-lg-6 col-md-12 col-sm-12 details">
        <div class="row">
          <span class="">
            <img
              class=""
              src="./assets/icons/Ellipse.png"
              width="20px"
              height="20px"
              alt="Logo"
            />
          </span>
          <h4 class="col left-right-margin" style="color: #1effff">
            Career Service Centers
          </h4>
        </div>
        <div class="row">
          <h3 class="col-lg-8 col-md-12 col-sm-12">
            Mend The Gap Between Students and Employers
          </h3>
        </div>
        <div class="row">
          <ul class="col-12">
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Schedule on-campus company events and interviews
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Increase student awareness and engagement of career opportunities
            </li>
            <li>
              <span
                ><img
                  src="./assets/img/list.png"
                  alt=""
                  width="18"
                  height="18" /></span
              >Access recruitment metrics and feedback from students and
              companies
            </li>
          </ul>
        </div>
        <div class="link-btn row">
          <a href="#" class="col-2 hide-it">
            Explore
            <span
              ><img
                src="./assets/img/explore.png"
                alt=""
                width="20"
                height="20"
            /></span>
          </a>
          <a href="#" class="col explore-btn-div"
            ><button class="btn explore-btn">Login</button></a
          >
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 image container">
        <img src="./assets/img/career.png" class="" alt="..." />
      </div>
    </div>
  </div>
  <!--  -->

  <div class="row parent-div newsletter-section">
    <div class="col-lg-6 col-md-12 col-sm-12 image container">
      <img src="./assets/img/Newsletter.png" class="" alt="..." />
    </div>
    <div
      class="col-lg-6 col-md-12 col-sm-12 letter-details details text-center"
    >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Subscibe to our Newsletter</h4>
          <p class="card-text">
            Be the first to hear about all the latest PLUGGED products and
            services including partnership developments, on and off campus
            events and opportunities.
          </p>
          <div class="input-group">
            <input
              type="email"
              class="form-control email-box"
              placeholder="Email"
            />
            <button type="submit" class="email-btn">&#8594;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
